.products_list_section {
  padding: 10px;
  padding-left: 30px;
}

.products_list_header {
  justify-content: space-between;
}

.products_list_header h2 {
  font-size: 26px;
}

.products_sorting {
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  height: 35px;
  padding: 0 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 1300.98px) {
  .products_list_section {
    padding: 10px;
    padding-left: 20px;
  }
  .products_list_header h2 {
    font-size: 24px;
  }
  .products_sorting {
    font-size: 16px;
    height: 30px;
    padding: 0 4px;
  }
  .products_list {
    justify-content: space-between;
  }
}
@media (max-width: 1100.98px) {
  .products_list_section {
    padding: 10px;
    padding-left: 15px;
  }
  .products_list_header h2 {
    font-size: 22px;
  }
  .products_sorting {
    font-size: 14px;
    height: 28px;
    padding: 0 3px;
  }
  .products_list {
    justify-content: space-between;
  }
}
@media (max-width: 900.98px) {
  .products_list_section {
    padding: 5px;
    padding-left: 10px;
  }
  .products_list_header h2 {
    font-size: 20px;
  }
  .products_sorting {
    font-size: 12px;
    height: 25px;
    padding: 0 2px;
  }
  .products_list {
    justify-content: space-between;
  }
}
