.product_page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px;
}

@media (max-width: 1300.98px) {
  .product_page {
    padding: 15px;
    grid-template-columns: 1fr 4fr;
  }
}
@media (max-width: 1150.98px) {
  .product_page {
    padding: 10px;
    grid-template-columns: 1fr 4fr;
  }
}
