.navbar {
  justify-content: space-between;
  padding: 0 40px;
  background-color: #fff;
}

.navbar_heading {
  margin-right: 20px;
  font-size: 32px;
}

.navbar_form {
  width: 450px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 3px;
  position: relative;
}

.navbar_search {
  flex: 1;
  height: 100%;
  padding: 0 7px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
}

.search_button {
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #6457f9;
  color: #fff;
  cursor: pointer;
}
.search_result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #fff;
  z-index: 9999;
}
.search_suggestion_link {
  display: flex;
}
.search_suggestion_link > a {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.search_suggestion_link:hover,
.search_suggestion_link.active {
  background-color: #e3e3e3;
}

.navbar_links {
  font-size: 20px;
}

.navbar_links > a {
  margin: 15px;
}
.navbar_links > a:active {
  font-weight: 600;
}
.cart_counts {
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #6457f9;
  color: #fff;
  font-size: 15px;
}

@media (max-width: 1344px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar_heading {
    font-size: 30px;
  }

  .navbar_form {
    width: 400px;
    height: 38px;
  }

  .navbar_search {
    font-size: 18px;
  }

  .search_button {
    font-size: 18px;
  }

  .navbar_links {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0 25px;
  }

  .navbar_heading {
    font-size: 28px;
  }

  .navbar_form {
    width: 380px;
    height: 36px;
  }

  .navbar_search {
    font-size: 18px;
  }

  .search_button {
    font-size: 18px;
  }

  .navbar_links {
    font-size: 18px;
  }
}
/* 
@media (max-width: 944px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar_heading {
    font-size: 26px;
  }

  .navbar_form {
    width: 360px;
    height: 35px;
  }

  .navbar_search {
    font-size: 18px;
  }

  .search_button {
    font-size: 18px;
  }

  .navbar_links {
    font-size: 18px;
  }
}

@media (max-width: 704px) {
  .navbar {
    padding: 0 15px;
  }

  .navbar_heading {
    font-size: 24px;
  }

  .navbar_form {
    width: 340px;
    height: 34px;
  }

  .navbar_search {
    font-size: 18px;
  }

  .search_button {
    font-size: 18px;
  }

  .navbar_links {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 0 10px;
  }

  .navbar_heading {
    font-size: 22px;
  }

  .navbar_form {
    width: 320px;
    height: 33px;
  }

  .navbar_search {
    font-size: 18px;
  }

  .search_button {
    font-size: 18px;
  }

  .navbar_links {
    font-size: 18px;
  }
} */

/* @media (max-width: 1300.98px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar_heading {
    font-size: 28px;
  }

  .navbar_form {
    width: 350px;
    height: 35px;
  }

  .navbar_search {
    font-size: 18px;
  }

  .search_button {
    font-size: 18px;
  }

  .navbar_links {
    font-size: 18px;
  }
}

@media (max-width: 1100.98px) {
  .navbar {
    padding: 0 10px;
  }

  .navbar_heading {
    font-size: 24px;
  }

  .navbar_form {
    width: 300px;
    height: 30px;
  }

  .navbar_search {
    font-size: 16px;
  }

  .search_button {
    font-size: 16px;
  }

  .navbar_links {
    font-size: 16px;
  }
}

@media (max-width: 900.98px) {
  .navbar {
    padding: 0 5px;
  }

  .navbar_heading {
    font-size: 20px;
  }

  .navbar_form {
    width: 200px;
    height: 25px;
  }

  .navbar_search {
    font-size: 14px;
  }

  .search_button {
    font-size: 14px;
  }

  .navbar_links {
    font-size: 14px;
  }
} */
