.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px;
}

.pagination_button {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
  border: 1px bold #e5e5e5;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.pagination_button.active {
  background-color: #000;
  color: #fff;
}

/* @media (max-width: 1300.98px) {
  .pagination_button {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  .pagination_button.active {
    background-color: #000;
    color: #fff;
  }
}
@media (max-width: 1100.98px) {
  .pagination_button {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .pagination_button.active {
    background-color: #000;
    color: #fff;
  }
  .pagination_button:hover {
    background-color: #000;
    color: #fff;
  }
}
@media (max-width: 900.98px) {
  .pagination_button {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
  .pagination_button.active {
    background-color: #000;
    color: #fff;
  }
  .pagination_button:hover {
    background-color: #000;
    color: #fff;
  }
  .pagination_button:active {
    background-color: #000;
    color: #fff;
  }
} */
